<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <h2><a href="https://github.com/kanitelk/tree-json-generator" target="blank">Tree Json Generator (GitHub)</a></h2>
    <br>
    <p><strong>Go to Web Tools Console</strong></p>
  </center>
 

  
  <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>